/*Add padding and margin to space out the page.
Make the font larger too.
body{
	margin:1%;
	padding:1%;
	font-size:150%;
}



Style the images*/


h1{
	font-size: 2em; 
	font-weight: bold;
}


.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}
li {display:inline;}
img{
	display: inline;
    height: 400px;
    width: 500px;	
    
    padding: 25px;
    
    margin: 10px;
	border-width: 5px;
	border-style: dotted;
	border-color: burlywood;
	

}

.pseudo{
	border-width: 5px;
	border-style: solid;
	border-color: wheat;
}

#background{
	object-fit: cover;
	
}

img:hover{
	height: 600px;
	width: 750px;

}

nav li{
	background-color: white;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}


/*
Make the h2 heading match h1
h2{
	font-size: 2em; 
	font-weight: bold;
}

Improve the spacing for paragraphs AND headings
p, h1, h2 {
    padding: 10px;
}

Add borders around the main components and some
space too
header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}


Change the styling for all of the list 
items in the nav section



Added this so the links stay the same color
a:visited{color:#0000FF}

*/