/*FOR MOBILE*/
.hidden{
	position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
header{
	display: flex;
	transition:0.3s;
	margin-bottom: 3em;
}
.backgroundImage{
	background: rgb(0,0,0,0.2) url('../images/background.jpg');
	min-height: 100vh;
	
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: darken;

}

.HBLLogo,
.HBLLogoWhite,
.HBLLogoBlack{
	float:left;
	text-align: center;
	padding: 30px 0;
	font-weight:400;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	margin-left: 5vw;
	
}

.HBLLogoWhite a:visited{
	color:white;
	text-decoration: none;
}
.HBLLogoBlack a{
	color:black;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.navBar div{
	height: 4px;
	background-color: white;
	margin: 5px 0;
	border-radius: 25px;
	transition: 0.3s;
	
	
}

.navBar,
.navBarBlack{
	position: absolute;
	right: 3em;
	top: 2.5em;
	width: 30px;
	display: block;
	
	
}
.navBarBlack div{
	background-color: black !important;
	height: 4px;
	
	margin: 5px 0;
	border-radius: 25px;
	transition: 0.3s;
}

.one{
	width: 30px;
}
.two{
	width: 20px;
}
.three{
	width: 25px;
}
.navBar:hover div,
.navBarBlack:hover div{
	width:30px;
}


#mainPortfolio{
	position:absolute;
	left:0;
	top: 50vh;
	width:100%;
	text-align: center;
	
	
	
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color:white;
	text-decoration: none;
	font-size: 3rem;
	
}

#navigation.active{
	transition: 0.3;
	background-color: white;
	
	position:fixed;
	
	height: 100vh;
	width:100%;
	
}
#navigation.active .navBar div{
	
	background-color: black;
}

#navigation.active ul{
	
	display: grid;		
	grid-template-rows: repeat(4, 4rem);
	text-align: center;
	width:100%;
	height: 100vh;
	position:fixed;
	top:40vh;
	align-items: center;
	justify-content: center;
		
}

#navigation.active ul li{
	
}

#navigation.active ul li a{
	text-decoration: none;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1;
	font-size: 8.5vmin;
	
}



#navigation.active .HBLLogoWhite a{
	color: black;
	z-index: 5;
}

footer{
	margin-top: 2em;
	display:grid;
	align-items: center;
	justify-content: center;
	text-align: center;
	row-gap: 2em;
}

p{

	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.8em;
	
}
footer p {
	text-decoration: underline;
	
}

h1, h2, h3, h4{
	font-family: 'Poppins', sans-serif;
	line-height: 1.8em;
}
h3{
	
	font-weight: 300;
	
	font-size:calc((2.2 - 1) * 1.2vh + 1rem);
	
}
h2{
	font-size: calc((2.8 - 1) * 1.2vh + 1rem);
	font-weight: bold;
	margin: 2em 0 1em 0;
}

main{
	text-align: center;
}

.mainInfo p {
	margin: 1em;
}
form{
	margin: 5em 0;
	
	
	border-radius: 5px;
}

#portfolioContainer{
	display:grid;
	position: static;
	top: 25vw;
}
#portfolioContainer p {
	margin-bottom: 30px;
}
#portfolioContainer h3{
	margin-top: 15px;
}
img{
	padding: 0;
	margin: 0;
	width: 90vw;
}


#faqs{
	display:grid;
	row-gap: 20px;
	text-align: left;
	padding: 10vw;
}
#faqs h1{
	
	text-align: center;
	margin: 0 0 120px 0;
	font-size: 2rem;
	

}
#faqs h3{
	font-weight: 400;
	margin: 20px 0;
}
#faqs p{
	font-weight: 300;
	margin: 10px 0;
}


@media only screen and (max-width: 768px){
	nav ul {
		
	}
	nav.notActive ul li{
		position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;

	}

}



/*For Desktop*/
@media only screen and (min-width: 768px) {
	.HBLLogo,
	.HBLLogoWhite,
	.HBLLogoBlack{
		font-size: calc((2 - 1) * 1.2vw + 1rem);
	}

	.navBar, .navBarBlack{
		position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
	}

	#aboutMe{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 50px;
		align-items: center;
		text-align: left;
		column-gap: 50px;
		

	}
	#aboutMe img{
		width: 45vw;
	}
	#aboutMe p{
		line-height: 1.8em;
	}
	

	nav ul{
		display:flex;
		position:absolute;
		margin: 55px 0;
		right: 3em;
		justify-content: space-between;
		width: 20vw;
		min-width: 225px;
		text-align: center;
		
		text-decoration: none;
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		font-size: 16px;
		
	}
	nav ul a{
		color: black;
	}
	#mainPage nav ul a {
		color: white;
	}
	#portfolioContainer ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 30px;
		
	}
	#portfolioContainer img{
		width: 45vw;
	}
	


	footer{
		display: flex;
		justify-content: space-between;
		margin: 6em;
		text-align: center;
	}
}

i{
	--fa-animation-duration: 2s;
}
@media (prefers-reduced-motion){
	i{
		--fa-animation-duration: 0s;
	}
}





@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: black;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px black;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}


.underline {
  border-bottom: solid 2px black;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: black;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px black;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}